body {
  background-image: url(watercolor-4116932_640.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.navbar {
  background-color: teal;
  height: 100px;
}
.links {
}
h1 {
  color: teal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px;
  text-align: center;
}
.box {
  padding: 500px;
  width: 500px;
  height: 500px;
  border: 10px double rgb(21, 219, 205);
  margin: 10px;
  padding: 40px;
  position: relative;
  background-color: lightseagreen;
}

h2 {
  color: rgb(11, 220, 11);
  font-size: 1rem;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.ficus {
  height: 300px;
  width: 250px;
  position: absolute;
  top: 80px;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.monstera {
  height: 300px;
  width: 250px;
  position: absolute;
  top: 80px;
  bottom: 30px;
  right: 30px;
  left: 30px;
}
.pothos {
  height: 300px;
  width: 250px;
  position: absolute;
  top: 80px;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.sansevieria {
  height: 300px;
  width: 250px;
  position: absolute;
  top: 80px;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.cookie-notice {
  background: red;
  padding: 20px;
  position: fixed;
  top: 200px;
  left: 200px;
  z-index: 1;
}

footer {
  background-color: teal;
  height: 100px;
}
